@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    color: aliceblue;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    background-color: #9e00c5;
}

/* Headings and Logo */

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(231, 206, 206);
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 2%;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 3px;
}

#menu,
#logo {
    line-height: 75px;

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #fff;
}

.active {
    border-bottom: 1px solid #fff;
}

/*Hero image for main page (Under header) */

#hero-outer {
    height: 539px;
    width: 100%;
    overflow: hidden;
    position: relative;

}

#cover-text,
#cover-text p {
    color: #fff;
    background-color: transparent;
}

#hero-image {
    height: 539px;
    width: 100%;
    background: url('../images/BTC-HERO-IMAGE.jpg');

    /*Hero zoom effect on loading page*/
    animation-name: hero-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

/*zoom for image*/
@keyframes hero-zoom {
    from {
        transform: scale(1);

    }

    to {
        transform: scale(1.1);

    }
}

#cover-text {
    font-size: 124%;
    font-family: Oswald, sans-serif;
    letter-spacing: 3px;
    width: 330px;
    height: 200px;
    padding-top: 40px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, .5);
    bottom: 50px;
    right: 350px;
    position: absolute;
}

/* First sections */

#section-one {
    margin: 50px;
    float: left;
    height: 850px;
    width: 50%;
    overflow: auto;
}

#section-two {
    margin: 50px;
    width: 38%;
    height: 850px;
    float: right;
}

#left-div {
    font-size: larger;
}

#left-div h1 {
    text-align: center;
    margin: 2%;
    font-weight: 900;
}

em {
    color:  black;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2px;
}

#altcoin-section em {
    font-size: x-large;
    letter-spacing: 2px;
    font-weight: 900;
}

#right-div {
    font-size: large;
    text-align: center;
}

#right-div h1 {
    text-align: center;
    margin: 2%;
    font-weight: 900;
}

/*Section three for quotes */

#section-three {
    background-image: url('../images/quotes-background.png');
    float: left;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

#section-three div {
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid #9e00c5;
    box-sizing: border-box;
}

/*     xxxxxxxxxx      Footer     xxxxxxxxxx            */


footer {
    height: 150px;
    width: 100%;
    float: left;
    margin-top: 2%;
}

footer ul {
    height: 250px;
}

#social-links {
    text-align: center;
}

#social-links > li {
    display: inline;
}

#social-links i {
    font-size: 250%;
    margin: 6%;
    margin-top: 1%;
    padding: 3%;
    color: #fff;
}

footer h1 {
    left: 50%;
    text-align: center;
}

#whitepaper-link {
    color: aqua;
    font-weight: 900;
    letter-spacing: 10px;
    text-decoration: none;
}

#altcoin-section {
    margin: 2%;
    border: 5px dotted white;
}

#altcoins-text {
    font-size:x-large;
    padding: 2%;
}